/*=========================== TAGS ============================*/

* { 
	margin:0; 
	padding:0;
}

html {
	min-width:973px;
} 

body { 
	background:url(/images/tail-top.gif) repeat-x left top #fff; 
	font-family:Arial, Helvetica, sans-serif;
	border-top:7px solid #cdcdcd;
	font-size:100%; 
	line-height:1em; 
	color:#7b7b7b; 
	min-width:973px;
}

object { 
	vertical-align:top; 
	outline:none;
}

input, 
textarea, 
select { 
	font-family:Arial, Helvetica, sans-serif; 
	font-size:1em; 
	vertical-align:middle; 
	font-weight:normal;
}

fieldset {
	border:0;
}

p { 
	margin:0; 
	padding:0;
}

img { 
	border:0; 
	vertical-align:top; 
	text-align:left;
}

ul, 
ol { 
	list-style:none;
}

#main { 
	width:973px; 
	margin:0 auto;
}
#header { 
	height:299px;
	
	position:relative;
}
#header, 
#content, 
#footer { 
	font-size:0.814em;
}
.col-1, 
.col-2, 
.col-3 { 
	float:left;
}


/*========================== ALIGMENT =========================*/

.fleft { 
	float:left;
}

.fright { 
	float:right;
}

.clear { 
	clear:both;
}

.alignright { 
	text-align:right;
}

.aligncenter { 
	text-align:center;
}

.wrapper { 
	width:100%; 
	overflow:hidden;
}

.container { 
	width:100%;
}

/*=========================== TAILING =========================*/

.tail-top { 
	background:url(/images/tail-top.gif) left top repeat-x #fff;
}

/*=========================== FORMS ===========================*/

#contacts-form .field { 
	height:40px;
}
#contacts-form input {
	width:245px; 
	padding:3px 12px 3px 12px; 
	background:#f5f5f5; 
	border:1px solid #dbdcdd; 
	vertical-align:top;	
	line-height:1.2em;
	color:#96978e;
}
#contacts-form textarea { 
	width:245px; 
	height:136px; 
	overflow:auto;
	color:#96978e;
	background:#f5f5f5; 
	border:1px solid #dbdcdd; 
	padding:3px 12px 3px 12px;
	margin-bottom:18px; 
}

/*========================== LISTS ============================*/

.list {
	margin-top:-11px;
}
.list li {
	padding:11px 15px 10px 31px;
	background-repeat:no-repeat;
	background-position:0 11px;
	color:#96978e;
	border-bottom:1px solid #dbdcdd;
	line-height:1.38em;
}
.list li.last {
	border:0;
	margin:0;
	padding-bottom:0;
}
.list li.alt {
	border:0;
	padding-bottom:0;
}
.list li.alt1 {
	background-color:#f5f5f5;
}
.list li a {
	font-weight:bold;
	text-decoration:none;
}
.list li a:hover {
	text-decoration:underline;
}
.list li a.link {
	text-decoration:underline;
	color:#000;
}
.list li a.link:hover {
	text-decoration:none;
}
.list li.m1 {
	background-image:url(/images/pic1.gif);
}
.list li.m2 {
	background-image:url(/images/pic2.gif);
}
.list li.m3 {
	background-image:url(/images/pic3.gif);
}
.list li.m4 {
	background-image:url(/images/pic4.gif);
}
.list li.m5 {
	background-image:url(/images/pic5.gif);
}

.list1 li {
	font-style:italic;
	line-height:1.38em;
	padding-bottom:15px;
}
.list1 li a {
	font-style:normal;
	text-decoration:none;
	color:#b60000;
}
.list1 li a:hover {
	text-decoration:underline;
}

.list2 {
	padding-bottom:8px;
}
.list2 li {
	padding:0 0 8px 20px;
	background:url(/images/arrow.gif) no-repeat left 3px;
}
.list2 li.alt {
	background:none;
}
.list2 li.alt a.link {
	color:#000;
	text-decoration:underline;
}
.list2 li.alt a.link:hover {
	text-decoration:none;
}
.list2 li a {
	color:#96978e;
	text-decoration:none;
}
.list2 li a:hover {
	text-decoration:underline;
}

.list7 {
	padding-bottom:18px;
}
.list7 li {
	padding:0 0 8px 20px;
	background:url(/images/arrow.gif) no-repeat left 3px;
	margin-left:20px;
}
.list7 li.alt {
	background:none;
}
.list7 li.alt a.link {
	color:#000;
	text-decoration:underline;
}
.list7 li.alt a.link:hover {
	text-decoration:none;
}
.list7 li a {
	color:#96978e;
	text-decoration:none;
}
.list7 li a:hover {
	text-decoration:underline;
}

.list3 {
	margin-top:-25px;
}
.list3 li {
	width:100%;
	overflow:hidden;
	vertical-align:top;
	padding-top:25px;
}
.list3 li h6 {
	margin:0;
}
.list3 li p {
	margin-bottom:10px;
}
.list3 li img {
	float:left;
	margin-right:30px;
}

.list4 li {
	font-style:italic;
	line-height:1.38em;
	padding-bottom:20px;
}
.list4 li b {
	text-transform:uppercase;
	font-size:.85em;
	line-height:1.64em;
	font-style:normal;
	color:#000;
}




/*========================== OTHER ============================*/

.img-indent { 
	padding-bottom:20px; 
}

.img-box1 { 
	width:100%; 
	overflow:hidden;
	padding-bottom:14px;
}
.img-box1 img { 
	float:left; 
	margin:0 20px 0 0;
}

p { 
	margin-bottom:20px;
	line-height:1.38em;
}
.p1 {
	margin-bottom:12px;
}

.phone { 
	float:right; 
	margin-right:80px;
}

.address {
	line-height:1.38em;
	color:#000;
	font-weight:bold;
	padding-bottom:35px;
}
.address strong {
	color:#b60000;
	display:block;
	padding-bottom:20px;
}
.address span {
	float:right;
	margin-right:10px;
}
.address b,
.address b a {
	color:#b60000;
}
.address b a {
	float:right;
	margin-right:10px;
}

dl {
	font-style:italic;
	line-height:1.38em;
	margin-bottom:-16px;
}
dl dt {
	color:#000;
	text-transform:uppercase;
	font-size:.85em;
	line-height:1.64em;
	font-style:normal;
	font-weight:bold;
}
dl dd {
	margin-bottom:16px;
}

/*================= TXT, LINKS, LINES, TITLES =================*/

a {	
	color:#000; 
	outline:none;
}
a:hover {
	text-decoration:none;
}

h2 {
	position:absolute;
	left:0;
	top:288px;
}
h3 {
	font-size:50px;
	line-height:1.2em;
	text-transform:uppercase;
	margin-bottom:28px;
	color:#737373;
}
h3 span {
	display:block;
	margin-top:-10px;
}
h3 b {
	color:#b60000;
}
h4 {
	font-style:italic;
	font-size:1em;
	line-height:1.38em;
	font-weight:normal;
	margin-bottom:20px;
}
h5 {
	color:#bdbdbd;
	font-size:1.15em;
	line-height:1.2em;
	font-weight:normal;
	margin:-26px 0 30px 0;
}
h6 {	
	color:#000;
	text-transform:uppercase;
	font-size:.85em;
	line-height:1.64em;
	margin-bottom:15px;
	font-size:14px;
}
h6.style1 {
	color:#b60000;
	font-weight:normal;
	text-transform:none;
	font-size:1em;
	line-height:1.38em;
}
h6.style2 {
	margin-bottom:26px;
}

.txt1 {
	color:#b60000;
	font-style:normal;
}
.txt2 {
	color:#000;
	text-transform:uppercase;
	font-size:.85em;
	font-weight:bold;
	line-height:1.64em;
}

.link {
	text-transform:uppercase;
	font-weight:bold;
	font-size:.85em;
}

/*========================== HEADER ===========================*/

#header ul {
	width:100%;
	overflow:hidden;
	padding:46px 0 22px 0;
	text-align:center;
}
#header ul li {
	font-size:22px;
	line-height:1.5em;
	text-transform:uppercase;
	padding-right:13px;
	padding-left:13px;
	display:inline;
}
#header ul li.last {
	padding-right:0;
}
#header ul li a {
	color:#9f9f9f;
	text-decoration:none;
}
#header ul li a:hover,
#header ul li a.active {
	color:#0e0e0e;
}

.slogan {
	position:absolute;
	z-index:100;
	top:288px;
}

.register img {
	position: absolute;
    right: -60px;
    top: 260px;
}

.sponsor-logo {
	float:left;
	margin-right:30px;
}

.sponsor-logo img {
	border:1px solid #ccc;
}

#header {
	background:url(/images/header-bg.jpg) left bottom no-repeat;
}
/*========================= CONTENT ===========================*/

#content {
	padding:39px 0 20px 0;
}
#content .indent {
	padding-bottom:38px;
}
#content .indent1 {
	padding-bottom:23px;
}

/*========================= FOOTER ============================*/

#footer p {
	color:#a1a1a1;
	font-style:normal;
	font-size:.77em;
	text-transform:uppercase;
}
#footer p a {
	color:#a1a1a1;
}
#footer p span {
	color:#d21034;
}
#footer p a {
  color: #000;
  font-family: Georgia, serif;
  text-decoration: none;
}
#footer p a em {
  color: #069;
  font-style: italic;
}
#footer p b {
	color:#292929;
	font-weight:normal;
}
#footer .fleft {
	padding-top:28px;
}
#footer .fleft ul {
	padding-bottom:11px;
}
#footer .fleft ul li {
	font-size:.77em;
	text-transform:uppercase;
	display:inline;
	border-right:1px solid #cacaca;
	padding-right:5px;
	margin-right:5px;
}
#footer .fleft ul li.last {
	border:0;
	padding:0;
	margin:0;
}
#footer .fleft ul li a {
	color:#cacaca;
	text-decoration:none;
}
#footer .fleft ul li a:hover,
#footer .fleft ul li a.active {
	color:#414141;
}
#footer .fright {
	padding:47px 4px 0 0;
}



#home #content .row-1 .col-1 { width:270px; margin-right:67px;}
#home #content .row-1 .col-2 { width:630px;}
#home #content .row-1 .col-2 .col-1 { width:248px; margin-right:0;}
#home #content .row-1 .col-2 .col-2 { width:333px;}
#home #content .row-2 .col-1 { width:600px; margin-right:52px;}
#home #content .row-2 .col-2 { width:312px;}


#contact #content .row-1 .col-1 { width:270px; margin-right:67px;}
#contact #content .row-1 .col-2 { width:262px; margin-right:57px;}
#contact #content .row-1 .col-3 { width:308px;}
#contact #content .row-2 .col-1 { width:269px; margin-right:64px;}
#contact #content .row-2 .col-2 { width:635px;}
#contact #content .row-2 .col-2 .col-1 { width:236px;}
#contact #content .row-2 .col-2 .col-2 { width:236px;}


/*=========================*/


#footer { 
	height:85px;
	border-top:4px solid #dfdfdf;
}
